<?php
/**
 * This file is part of voucher4guests.
 *
 * voucher4guests Project - An open source captive portal system
 * Copyright (C) 2016. Alexander Müller, Lars Uhlemann
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Application Configuration
 */

return array(
    /**
     * Fully qualified domain name
     */
    'domain_name' => 'example.de',

    /**
     * Supported languages
     *
     * use ISO 639-1 Language Codes
     */
    'supported_languages' => array(
        'de' => array('de', 'de_DE'),
        'en' => array('en', 'en_US')
    ),

    /**
     * Default language
     */
    'default_language' => 'en',

    /**
     * Language names
     */
    'language_names' => array(
        'de' => 'Deutsch',
        'en' => 'English'
    ),

    /**
     * Redirect user to originally requested url
     */
    'redirect_user' => true,

    /**
    * Maximum number of registered devices (MACs) per voucher
    */
    'max_devices' => 3,

    /**
     * Interval to set the 'use by date' from the creation date
     *
     * Note: use the mysql datetime units (DAY, WEEK, MONTH, YEAR)
     */
    'voucher_lifetime' => '1 YEAR',

    /**
     * Allowed characters for the voucher code
     */
    'voucher_allowed_characters' => array('a','b','c','d','e','f','g','h','j','k','m','n','p','q','r','s','t','u','v','w','x','y','z','2','3','4','5','6','7','8','9'),

    /**
    * Length of the voucher code
    */
    'voucher_code_length' => 20,

    /**
    * Voucher network name
    */
    'voucher_network_name' => 'WLAN SSID',

    /**
    * Voucher wlan password
    */
    'voucher_wlan_password' => 'xxxxxxxxxxxxx',

    /**
     * Time after the expired vouchers will be removed
     *
     * Note: use the mysql datetime units (DAY, WEEK, MONTH, YEAR)
     * Default: '60 DAY'
     */
    'voucher_retention_period' => '60 DAY',

);
