<?php

/**
 * Database Configuration
 *
 * Enter your local connection settings here.
 */

$conf = array(
    /**
     * Database name
     */
    'db_base' => 'voucher',

    /**
     * Database user
     */
    'db_user' => '',

    /**
     * Password for database user
     */
    'db_password' => '',

    /**
     * Database host
     */
    'db_host' => 'localhost',
);

