AuthName "Voucher4guests - Administration"
AuthType Basic
#AuthUserFile /usr/local/voucher4guests/voucher_ssl/admin/.htpasswd
AuthUserFile /home/alex/dev/voucher/voucher_ssl/admin/.htpasswd
require valid-user

